In [ ]:
import numpy as np
import pandas as pd

In [ ]:
 df=pd.read_csv('train.csv')[['Age','Fare','SibSp','Parch','Survived']]

In [ ]:
from sklearn.model_selection import train_test_split,cross_val_score

from sklearn.metrics import accuracy_score

from sklearn.compose import ColumnTransformer

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.head()

In [ ]:
df['family'] = df['SibSp'] + df['Parch']

In [55]:
df.head()

    Age     Fare  Survived  family
0  22.0   7.2500         0       1
1  38.0  71.2833         1       1
2  26.0   7.9250         1       0
3  35.0  53.1000         1       1
4  35.0   8.0500         0       0

In [ ]:
df.drop(columns=['SibSp','Parch'],inplace=True)

In [ ]:
df.head()

In [ ]:
X= df.drop(columns=['Survived'])
y=df['Survived']

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [ ]:
X_train.head()

In [47]:
#WITHOUTBINARIZATION
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
accuracy_score(y_pred,y_test)

0.6223776223776224

In [49]:
np.mean(cross_val_score(DecisionTreeClassifier(),X,y,cv=10,scoring='accuracy'))

np.float64(0.6471439749608765)

In [51]:
#APPLINGBINARIZATION
from sklearn.preprocessing import Binarizer

In [52]:
trf = ColumnTransformer([
    ('bin',Binarizer(copy=False),['family'])
],remainder='passthrough')

In [53]:
X_train_trf=trf.fit_transform(X_train)
X_test_trf=trf.transform(X_test)

In [54]:
X_train_trf

array([[  1.    ,  31.    ,  20.525 ],
       [  1.    ,  26.    ,  14.4542],
       [  1.    ,  30.    ,  16.1   ],
       ...,
       [  0.    ,  41.    , 134.5   ],
       [  1.    ,  33.    ,  20.525 ],
       [  0.    ,  33.    ,   7.8958]])

In [58]:
pd.DataFrame(X_train_trf,columns=['Age','Fare','family'])

     Age  Fare    family
0    1.0  31.0   20.5250
1    1.0  26.0   14.4542
2    1.0  30.0   16.1000
3    0.0  33.0    7.7750
4    0.0  25.0   13.0000
..   ...   ...       ...
566  1.0  46.0   61.1750
567  0.0  25.0   13.0000
568  0.0  41.0  134.5000
569  1.0  33.0   20.5250
570  0.0  33.0    7.8958

[571 rows x 3 columns]

In [62]:
clf = DecisionTreeClassifier()
clf.fit(X_train_trf,y_train)
y_pred2=clf.predict(X_test_trf)
accuracy_score(y_pred2,y_test)

0.6013986013986014

In [ ]:
np.mean(cross_val_score(DecisionTreeC))