In [7]:
import pandas as pd
import numpy as np

import scipy.stats as stats

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

from sklearn.preprocessing import FunctionTransformer
from sklearn.compose import ColumnTransformer

In [9]:
df=pd.read_csv('train.csv',usecols=['Age','Survived','Fare'])

In [10]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [14]:
df.isnull().sum()

Survived    0
Age         0
Fare        0
dtype: int64

In [13]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [15]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [27]:
X = df.iloc[0:3, :]
y = df.iloc[0:3, 0]#error because of uneven distribution of columns and rows between variables

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [46]:
X_train = X_train.values
X_test = X_test.values
y_train = y_train.values.ravel()  # This prevents shape mismatch
y_test = y_test.values.ravel()

In [47]:
clf = LogisticRegression()
clf2 = DecisionTreeClassifier()

In [49]:
clf.fit(X_train, y_train)
clf2.fit(X_train, y_train)

ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: 1