In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('weapons_data.csv')

In [5]:
df.shape

(68, 5)

In [6]:
df.head()

,Weapon Name,Ammo Count,Description,Tags,Type
0,RGS50,3,The anti-materiel Launcher (AML) can lock on t...,"HIGH DAMAGE, DESTROYER",Melee
1,MGL140,5,"Grenade launcher with mid-sized magazine, low ...","AREA OF EFFECT, HIGH DAMAGE",Rifle
2,M79,1,"Deals area damage, requires skillful control.","AREA OF EFFECT, PROJECTILE",Launcher
3,GATLING,1200,"Insane fire rate and power, but reduces mobility.","HIGH FIRE POWER, INSANE FIRE RATE",Marksman Rifle
4,M60,68,Large magazines and solid mid-range fire power.,"MID RANGE, HIGH CLIP-SIZE",Projectile

In [7]:
df.sample(5)

,Weapon Name,Ammo Count,Description,Tags,Type
8,P90,58,"High rate of fire, strong mid-range power.","SILENCED, INSANE FIRE RATE",Melee
53,KAR98K,5,A well-balanced sniper rifle pre-equipped with...,"LONG RANGE, HIGH DAMAGE",Rifle
44,Charge Buster,3,A shotgun. Hold fire button to charge up damag...,"OUTBRUST, CHARGED",Rifle
37,Healing Pistol,38,The Treatment Gun deals damage against enemies...,"Healing, Close Range",Rifle
7,CG15,28,Charges to fire a high damage shot.,"LONG RANGE, CHARGEABLE",Shotgun

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Weapon Name  68 non-null     object
 1   Ammo Count   68 non-null     int64
 2   Description  68 non-null     object
 3   Tags         68 non-null     object
 4   Type         68 non-null     object
dtypes: int64(1), object(4)
memory usage: 2.8+ KB

In [9]:
df.isnull().sum()

Weapon Name    0
Ammo Count     0
Description    0
Tags           0
Type           0
dtype: int64

In [10]:
df.describe()

        Ammo Count
count    68.000000
mean     38.985294
std     144.409709
min       0.000000
25%       5.000000
50%      16.500000
75%      38.000000
max    1200.000000

In [ ]:
df